
/*/ BASIC STYLING /*/

body {
  font-family: 'bicyclette', sans-serif;
  font-size: 110%;
}

a:hover {
  text-decoration: none;
}

main {
  background-color: #e9e9e9;
}

section {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.subheading {
  color: #3023ae;
  font-size: 135%;
  font-weight: 700;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}


/*/ NAVBAR TOP /*/

header {
  background-color: #1d0071;
  border-bottom: 3px solid #00ffcc;
  border-radius: 0;
}

header > .navbar {
  padding: 1.5rem 2rem;
}

.header-logo > svg {
  height: 24px;
  width: auto;
}

.linkedin-logo {
  height: 24px;
  width: 24px;
}

.icon-linkedin path:hover {
  color: #007bff;
  fill: #007bff;
}


/*/ HERO /*/

.jumbotron {
  background-image: linear-gradient(to left, #cc208e 0%, #3023ae 100%);
  border-radius: 0;
  margin-bottom: 0;
}

.portrait {
  height: 100px;
  margin-bottom: 2rem;
  margin-top: 1rem;
  width: 100px;
}

.intro-heading {
  color: #fff;
  font-size: 150%;
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 1.35;
  margin-bottom: 1.5rem;
}

.intro-txt {
  color: #fff;
  font-size: 105%;
  font-weight: 300;
  line-height: 1.35;
  margin-bottom: 1rem;
}

.intro-btn {
  margin-bottom: 1rem;
  margin-top: 1rem;
}


/*/ CARDS /*/

.card {
  border: none;
  margin-bottom: 30px;
  text-align: center;
}

.card-img-top {
  filter: brightness(0.7);
  max-height: 100%;
  max-width: 100%;
}

.card-img-top:hover {
  filter: none;
}

.card-header {
  background: none;
  border-bottom: 0;
  padding-bottom: 0;
  padding-top: 1.25rem;
}

.card-subtitle {
  color: #3023ae;
  line-height: 1.75;
}

.card-title {
  color: #3023ae;
  font-weight: 400;
}

.card-text {
  font-weight: 400;
}

.card-goal {
  font-weight: 300;
}

.card-btn {
  border-radius: 0.15rem;
  margin-top: 2rem;
}

.card-footer {
  background: none;
  border-top: 0;
  margin-top: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.badge {
  font-weight: normal;
  text-transform: uppercase;
}

.badge-light {
  background-color: #e9e9e9;
}


/*/ SKILLS /*/

.skills-section {
  background-color: #fff;
}

.skills-section > .container {
  padding-left: 35px;
  padding-right: 35px;
}

.skills-subheading {
  color: #3023ae;
  font-weight: 400;
  margin-bottom: 0.25rem;
  margin-top: 0;
}

ul {
  margin-bottom: 1.5rem;
  padding-left: 1rem;
}

li {
  line-height: normal;
}

/*/ FOOTER /*/

.navbar-footer {
  background-color: #1d0071;
  border-radius: 0;
  border-top: 15px solid #00ffcc;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.cta-heading {
  font-size: 185%;
  margin-bottom: 0.25rem;
}

.cta-heading, .cta-txt {
  color: #fff;
  font-weight: 300;
}

.footer-bar-logos {
  padding-bottom: 4rem;
  padding-top: 2.75rem;
}

.copyright-wrapper {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}



/*** MEDIA QUERIES ***/


/* mobile L */

@media only screen and (min-width: 576px) {
  .fs-xs {
    font-size: 125%;
  }

  .fs-sm {
    font-size: 150%;
  }

  .fs-md {
    font-size: 235%;
  }

  .subheading {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .jumbotron {
    padding: 2rem 2rem;
  }

  .portrait {
    margin-top: 2.5rem;
  }

  .intro-heading {
    line-height: 1.15;
    margin-bottom: 2.5rem;
    margin-top: 1.5rem;
  }

  .intro-txt {
    line-height: 1.4;
    margin-bottom: 2rem;
  }

  .badge {
    margin-bottom: 0.25rem;
    padding-top: 0.35em;
    vertical-align: middle;
  }

  .navbar-footer {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }

  .cta-heading {
    margin-bottom: 1.5rem;
  }
}


/* laptop */

@media only screen and (min-width: 1024px) {
  .fs-lg {
    font-size: 275%;
  }

  .portrait {
    margin-bottom: 4rem;
    margin-top: 4rem;
  }

  .intro-heading {
    margin-bottom: 2.75rem;
    margin-top: 0;
  }

  .intro-btn {
    margin-bottom: 2rem;
  }

  section {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }

  .subheading {
    margin-bottom: 2.5rem;
  }

  .navbar-footer {
    padding-bottom: 4rem;
    padding-top: 4rem;
  }
}


/* laptop L */

@media only screen and (min-width: 1200px) {
  .fs-xl {
    font-size: 350%;
  }

  .intro-btn {
    margin-bottom: 4rem;
  }

  .card-header {
    padding-top: 1.5rem;
  }
}
